[Unit]
Description=Transparent TCP Proxy
After=network-online.target
ConditionPathExists=/opt/proxy.py

[Service]
DynamicUser=true
TemporaryFileSystem=/var/cache
CacheDirectory=proxy
WorkingDirectory=/var/cache/proxy
Environment="PYTHONPYCACHEPREFIX=/var/cache/proxy"
ExecStart=python3 /opt/proxy.py
MemoryHigh=90%

[Install]
WantedBy=multi-user.target
