[Unit]
Description=Transparent TCP Proxy
After=network-online.target
ConditionPathExists=/opt/proxy.py

[Service]
DynamicUser=yes
WorkingDirectory=/opt
ExecStart=python3 /opt/proxy.py
MemoryHigh=80%
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1

[Install]
WantedBy=multi-user.target
